

    <form class="form-horizontal" method="post" action="order">
    <fieldset>

    <!-- Form Name -->
    <legend>Order Details</legend>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="custname">Customer Name</label>
      <div class="controls">
        <input id="custname" name="custname" placeholder="Full Name" class="input-medium" required="" type="text">
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="amount">Amount</label>
      <div class="controls">
        <input id="amount" name="amount" placeholder="Amount" class="input-medium" required="" type="text">

      </div>
    </div>

    <!-- Select Basic -->
    <div class="control-group">
      <label class="control-label" for="currency">Currency</label>
      <div class="controls">
        <select id="currency" name="currency" class="input-medium">
          <option>USD</option>
          <option>EUR</option>
          <option>THB</option>
          <option>HKD</option>
          <option>SGD</option>
          <option>AUD</option>
        </select>
      </div>
    </div>

    <!-- Button -->
    <div class="control-group">
      <label class="control-label" for="confirm"></label>
      <div class="controls">
        <button id="confirm" name="confirm" class="btn btn-primary">Confirm</button>
      </div>
    </div>

    </fieldset>
    </form>
