<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="holdername">Credit Card Holder Name</label>
  <div class="controls">
    <input id="holdername" name="holdername" placeholder="Holder Name" class="input-medium" required="" type="text">

  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="cardnumber">Credit Card Number</label>
  <div class="controls">
    <input id="cardnumber" name="cardnumber" placeholder="XXXX-XXXX-XXXX-XXXX" class="input-medium" required="" type="text">
    <p class="help-block">help</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="cardexpiration">Credit Card Expiration</label>
  <div class="controls">
    <input id="cardexpiration" name="cardexpiration" placeholder="XX/XX" class="input-medium" required="" type="text">
    <p class="help-block">help</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="cardccv">CCV</label>
  <div class="controls">
    <input id="cardccv" name="cardccv" placeholder="XXX" class="input-xlarge" required="" type="text">
    <p class="help-block">help</p>
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <!--label class="control-label" for="confirm">Confirm</label-->
  <div class="controls">
    <button id="confirm" name="confirm" class="btn btn-primary">Confirm Payment</button>
  </div>
</div>


</fieldset>
</form>
